<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventory_System_Management_Alliance28.Properties.Settings.inventory_systemConnectionString"
            connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=inventory_system"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>